@import '../../../node_modules/sass-mediaqueries/media-queries';
$text-color: #fff;

.sbs-chapter-quick-nav {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  list-style: none;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity .5s ease-in;
  z-index: 30;
}

.sbs-chapter-quick-nav-list {
  height: 30px;
  margin-top: 0;
  transition: height ease-out .3s;

  &.active {
    height: 50%;

    .sbs-chapter-quick-link {
      &::before {
        opacity: 1;
      }
    }
  }
}

.sbs-chapter-quick-link {
  color: transparent;
  cursor: pointer;
  display: block;
  font-size: 10px;
  font-weight: 800;
  letter-spacing: 1.4px;
  padding: 10px 75px 10px 10px;
  position: relative;
  text-align: right;
  text-decoration: none;
  text-transform: uppercase;
  transition: color cubic-bezier(.22, .61, .36, 1) .5s;
  width: 200px;

  &::before {
    background-color: $text-color;
    content: '';
    display: block;
    height: 2px;
    opacity: .25;
    position: absolute;
    right: 25px;
    top: 16px;
    width: 25px;
  }

  &:hover {
    color: $text-color;

    .sbs-chapter-quick-link-indicator {
      width: 40px;
    }
  }
}

.sbs-chapter-quick-link-indicator {
  display: block;
  height: 2px;
  position: absolute;
  right: 25px;
  top: 16px;
  transition: width cubic-bezier(.22, .61, .36, 1) .5s;
  width: 0;
}

@include max-screen(768px) {
  .sbs-chapter-quick-nav {
    display: none;
  }
}
