@import '../../../node_modules/sass-mediaqueries/media-queries';
$text-color: #fff;
$headerHeight: 470px;
$headerHeightFull: $headerHeight + 70px;
$background-dark: rgba(0, 0, 0, .3);

.sbs-chapter-header {
  height: 90vh;
  min-height: 440px;
  pointer-events: none;
  position: relative;
  will-change: transform;
  z-index: 1;
  background-attachment: scroll;
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: cover;
  @include max-screen(760px) {
    height: $headerHeightFull;
  }
  @include min-screen(1201px) {
    background-image: none !important;
  }
  @include max-screen(1200px) {
    &:after {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: $background-dark;
      content: '';
    }
  }
}

.sbs-chapter-content {
  align-items: center;
  color: $text-color;
  padding-bottom: 100px;
  padding-top: 100px;
  position: relative;
  z-index: 3;

  &:after {
    content: "";
    display: table;
    clear: both;
    @include screen(760px, 1200px) {
      padding-bottom: 80px;
    }
  }
}

.sbs-center-title {
  color: $text-color;
  font-size: 100px;
  font-weight: 800;
  opacity: 0;
  transition: opacity ease-out .5s 1s;
}

:host-context(.loaded) {
  .sbs-center-title {
    opacity: 1;
  }
}

.sbs-center-title-center,
.sbs-center-title-left,
.sbs-center-title-right {
  height: 100px;
  line-height: 80px;
  margin-top: -40px;
  position: absolute;
  top: 50%;
  transition: opacity .5s ease-in;
  width: 302px;
  z-index: 3;
}

.sbs-subtitle {
  font-family: 'museo-slab';
  font-size: 16px;
  font-weight: 500;
  left: 25px;
  letter-spacing: .9px;
  position: absolute;
  top: 465px;
  width: 238px;
  z-index: 1;

  &::after {
    background-color: $text-color;
    content: '';
    height: 2px;
    left: 0;
    position: absolute;
    top: -35px;
    width: 25px;
  }
}

@include max-screen(1200px) {

  .sbs-center-title-center,
  .sbs-center-title-left,
  .sbs-center-title-right {
    top: calc(50vh - 50px);
  }

  .sbs-chapter {
    background-image: none !important;
  }

  .sbs-center-title-center,
  .sbs-center-title-left,
  .sbs-center-title-right {
    font-size: 56px;
  }
}

@include min-screen(1201px) {

  :host {
    &.active {
      z-index: 20;
    }
  }

  .sbs-chapter-header {
    height: 200vh;
  }

  .sbs-center-title-center {
    display: none;
  }

  .sbs-chapter-content {
    background-color: transparent !important;
    opacity: 0;
    padding-bottom: 100vh;
    padding-top: 100vh;
    transform: translateY(40px);

    &.empty {
      padding-bottom: 0;
      //padding-top: 0;
    }

    &::after {
      clear: both;
      content: '';
      display: block;
      height: 0;
      visibility: hidden;
    }

    &.active {
      opacity: 1;
      transform: translateY(0);
      transition: opacity ease-in .2s, transform ease-in .2s;
    }
  }

  .sbs-chapter {
    background-size: 0;
  }

  .sbs-center-title-center,
  .sbs-center-title-left,
  .sbs-center-title-right {
    letter-spacing: -2px;
    position: fixed;
  }

  .sbs-subtitle {
    display: none;
  }
}


@include max-screen(768px) {

  .sbs-center-title-center,
  .sbs-center-title-left,
  .sbs-center-title-right {
    font-size: 47px;
    left: 26px;
    text-align: left;
  }

  .sbs-center-title-left {
    top: 238px;
  }

  .sbs-center-title-right {
    left: 24px;
    letter-spacing: .8px;
    top: 353px;
  }

  .sbs-center-title-center {
    left: 22px;
    top: 292px;
  }

  .sbs-subtitle {
    top: 430px;
  }


  #chapter-content-1 {
    padding: 0;
  }

  .sbs-center-title {
    position: absolute;
    top: calc(45vh - 145px);
  }

  .sbs-subtitle,
  .sbs-center-title-center,
  .sbs-center-title-left,
  .sbs-center-title-right {
    position: relative;
    top: 0;
  }

  .sbs-center-title-left {
    margin-top: 0;
  }

  :host:first-child {
    .mobile {
      background-size: auto calc(90vh - 70px);
      @include max-screen(760px) {
        background-size: auto $headerHeight;
      }

      .sbs-chapter-header {
        height: calc(90vh - 70px);
        @include max-screen(760px) {
          height: $headerHeight;
        }
      }

      .sbs-center-title {
        position: absolute;
        top: calc(45vh - 190px);
        width: 100%;
        @include max-screen(760px) {
          top: $headerHeight*.45 - 120px;
          overflow: hidden;
        }
      }
    }
  }
}

@include max-screen(760px) {
  .sbs-center-title {
    top: $headerHeightFull*.45 - 100px;
  }
}


@include min-screen(769px) {
  .sbs-center-title-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .sbs-center-title-center {
    text-align: center;
  }

  .sbs-center-title-left {
    left: 0px;
    text-align: left;
  }

  .sbs-center-title-right {
    right: 0px;
    text-align: right;
  }
}

@include screen(769px, 1200px) {
  .sbs-subtitle {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    &:after {
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

:host {
  display: block;
  position: relative;

  img {
    width: 100%;
  }
}

/* fix iOS bug not displaying 90vh correctly */
@include iphone4(landscape) {
  $vh: calc(.9 * 320px);
  $mvh: calc(.5 * 320px);
  .sbs-chapter-header {
    height: $vh;
  }

  .sbs-chapter {
    &.mobile {
      background-size: auto $vh;
    }
  }

  :host:first-child {
    .mobile {
      background-size: auto calc(#{$vh} - 70px);
    }
  }
  .sbs-chapter-header {
    height: $headerHeight;
  }
}
@include iphone4(portrait) {
  $vh: calc(.9 * 480px);
  $mvh: calc(.5 * 480px);
  .sbs-chapter-header {
    height: $vh;
  }

  .sbs-chapter {
    &.mobile {
      background-size: auto $vh;
    }
  }

  :host:first-child {
    .mobile {
      background-size: auto calc(#{$vh} - 70px);
    }
  }
}
@include iphone5(landscape) {
  $vh: calc(.9 * 320px);
  $mvh: calc(.5 * 320px);
  .sbs-chapter-header {
    height: $vh;
  }

  .sbs-center-title-center,
  .sbs-center-title-left,
  .sbs-center-title-right {
    top: calc(#{$mvh} - 50px);
  }

  .sbs-chapter {
    &.mobile {
      background-size: auto $vh;
    }
  }

  :host:first-child {
    .mobile {
      background-size: auto calc(#{$vh} - 70px);
    }
  }
}
@include iphone5(portrait) {
  $vh: calc(.9 * 568px);
  $mvh: calc(.5 * 568px);
  .sbs-chapter-header {
    height: $vh;
  }

  .sbs-chapter {
    &.mobile {
      background-size: auto $vh;
    }
  }

  :host:first-child {
    .mobile {
      background-size: auto calc(#{$vh} - 70px);
    }
  }
}
@include ipad(landscape) {
  $vh: calc(.9 * 768px);
  $mvh: calc(.5 * 768px);
  .sbs-chapter-header {
    height: $vh;
  }

  .sbs-center-title-center,
  .sbs-center-title-left,
  .sbs-center-title-right {
    top: calc(#{$mvh} - 50px);
  }

  .sbs-chapter {
    &.mobile {
      background-size: auto $vh;
    }
  }

  :host:first-child {
    .mobile {
      background-size: auto calc(#{$vh} - 70px);
    }
  }
}
@include ipad(portrait) {
  $vh: calc(.9 * 1024px);
  $mvh: calc(.5 * 1024px);
  .sbs-chapter-header {
    height: $vh;
  }

  .sbs-chapter {
    &.mobile {
      background-size: auto $vh;
    }
  }

  :host:first-child {
    .mobile {
      background-size: auto calc(#{$vh} - 70px);
    }
  }
}
