@import '../../../node_modules/sass-mediaqueries/media-queries';
$text-color: #fff;
$dark-color: #222;

:host {
  position: fixed;
  width: 100%;
  z-index: 40;
}

h1 {
  border: 0;
  color: transparent;
  font: 0 / 0 a;
  height: 41px;
  left: 18px;
  position: relative;
  text-shadow: none;
  top: 15px;
  width: 60px;

  path {
    fill: $text-color;
  }
}

.menu {
  cursor: pointer;
  height: 20px;
  position: absolute;
  right: 22px;
  top: 26px;
  transition: opacity ease-out .2s;
  width: 83px;

  &.show-menu {
    opacity: 0;
  }

  div {
    background-color: $text-color;
    height: 7px;
    position: absolute;
    right: 13px;
    transition: transform cubic-bezier(.4, 0, .2, 1) .5s;
    width: 7px;

    &:nth-child(2) {
      right: 0;
    }

    &:nth-child(3) {
      bottom: 0;
      right: 0;
    }

    &:nth-child(4) {
      bottom: 0;
    }
  }

  &:hover {

    div {

      &:nth-child(1) {
        transform: translate3d(-2px, -2px, 0);
      }

      &:nth-child(2) {
        transform: translate3d(2px, -2px, 0);
      }

      &:nth-child(3) {
        transform: translate3d(2px, 2px, 0);
      }

      &:nth-child(4) {
        transform: translate3d(-2px, 2px, 0);
      }
    }
  }
}

@include max-screen(768px) {
  :host {
    background-color: $text-color;
    height: 70px;
  }

  h1 {
    path {
      fill: $dark-color;
    }
  }

  .menu {
    div {
      background-color: $dark-color;
    }

    &::before {
      color: $dark-color;
    }
  }
}
