<h1>SBS
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 502 342.92">
    <title>SBS</title>
    <g>
      <path d="M329.75,134.05h32.64c10.88,0,16.8,4.16,16.8,15.68,0,10.24-7.2,15.84-16.8,15.84H329.75V134.05Zm-20,97.92h52.48c29.6,0,42.08-13.92,42.08-31.84,0-15.52-7.52-26.4-21.44-29.44v-0.32c10.4-4.48,16.32-12.8,16.32-24.32,0-19-13.44-28.32-33.92-28.32H309.75V232Zm20-52h35.36c12.16,0,19.2,6.4,19.2,17.6,0,11.52-7,18.08-19.2,18.08H329.75V180Z" transform="translate(-0.67 -3.41)"/>
      <path d="M208.64,193.89c0.48,28.32,21.6,40.8,47.68,40.8,22.72,0,45.44-10.24,45.44-35.84,0-11.84-7.2-24.64-22.24-29.12-5.92-1.76-31.2-8.32-33-8.8-8.16-2.24-13.6-6.72-13.6-14.72,0-11.52,11.68-14.88,21-14.88,13.76,0,23.68,5.44,24.64,20.16h20c0-23.84-20-36.48-43.84-36.48-20.64,0-41.76,10.72-41.76,33.6,0,11.84,5.76,23.68,25.28,29,15.68,4.32,26.08,6.4,34.08,9.44,4.64,1.76,9.44,5.28,9.44,14.08,0,8.64-6.56,17.28-24.16,17.28-16,0-29-6.88-29-24.48h-20Z" transform="translate(-0.67 -3.41)"/>
      <path d="M409.55,193.89c0.48,28.32,21.6,40.8,47.68,40.8,22.72,0,45.44-10.24,45.44-35.84,0-11.84-7.2-24.64-22.24-29.12-5.92-1.76-31.2-8.32-33-8.8-8.16-2.24-13.6-6.72-13.6-14.72,0-11.52,11.68-14.88,21-14.88,13.76,0,23.68,5.44,24.64,20.16h20c0-23.84-20-36.48-43.84-36.48-20.64,0-41.76,10.72-41.76,33.6,0,11.84,5.76,23.68,25.28,29,15.68,4.32,26.08,6.4,34.08,9.44,4.64,1.76,9.44,5.28,9.44,14.08,0,8.64-6.56,17.28-24.16,17.28-16,0-29-6.88-29-24.48h-20Z" transform="translate(-0.67 -3.41)"/>
      <path d="M226.25,3.41S167.52,54.33,120.93,161.49,77.15,346.32,77.15,346.32s58.72-50.92,105.32-158.08S226.25,3.41,226.25,3.41" transform="translate(-0.67 -3.41)"/>
      <path d="M154,25S110.5,62.64,76,141.93s-32.4,136.77-32.4,136.77,43.46-37.68,77.93-117S154,25,154,25" transform="translate(-0.67 -3.41)"/>
      <path d="M100.64,40.88S68.45,68.79,42.91,127.53s-24,101.31-24,101.31,32.19-27.91,57.72-86.64,24-101.31,24-101.31" transform="translate(-0.67 -3.41)"/>
      <path d="M61.33,52.63S37.45,73.34,18.5,116.92,0.69,192.1.69,192.1s23.88-20.71,42.84-64.3S61.33,52.63,61.33,52.63" transform="translate(-0.67 -3.41)"/>
    </g>
  </svg>
</h1>

<div class="menu" (click)="openNav()"  [ngClass]="{ 'show-menu': showIconMenu}">
  <div></div><div></div><div></div><div></div>
</div>

