<svg-overlay [id]="7" [colour]="'rgba(212,205,208,1)'"></svg-overlay>
<div class="sbs-thanks-wrapper" id="chapter-header-7">
  <div class="fixed">
    <div class="sbs-thanks">
      <blockquote>
        “Thank you all, you have become our good friends. It has been a pleasure making your acquaintance.”
        <footer>
          <cite>
            Les Murray
          </cite>
        </footer>
      </blockquote>


      <img src="/assets/img/sbs-40-years.svg" alt="SBS 40 Years" class="sbs-40-years">
      <div class="sbs-go-to-top" (click)="goToTop()">Back to the top</div>
    </div>
  </div>
</div>
