@import '../../../node_modules/sass-mediaqueries/media-queries';
$text-color: #fff;
$dark-color: #212220;
$background-color: #c6c0c3;
$background-color-hover: #aba5a8;
$background-rgba: rgba(212, 205, 208, 1);
$background-rgba-transparent: rgba(212, 205, 208, 0);

:host {
  display: block;
  height: 100vh;
  position: relative;

  @include max-screen(767px) {
    background-color: $background-rgba;
  }

  &.active {
    .sbs-thanks {
      opacity: 1;

      &::after {
        transform: translateY(0);
        transition: transform .5s ease-out .5s;
      }
    }
  }

  @include min-screen(768px) {
    .fixed {
      height: 100vh;
    }
  }

  @include min-screen(1200px) {
    .fixed {
      height: 100%;
      position: fixed;
      top: 0;
      width: 100%;
    }
  }

  .sbs-thanks-wrapper {
    position: relative;
    z-index: 3;
    @include max-screen(760px) {
      height: 100%;
      .fixed{
        height: 100%;
      }
    }
  }
}


.sbs-thanks {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  overflow: hidden;
  position: relative;
  transition: opacity ease-out .2s;
  vertical-align: middle;
  z-index: 30;
  background-color: rgb(212, 205, 208);
  @include min-screen(1200px) {
    opacity: 0;
  }

  blockquote {
    font-size: 18px;
    letter-spacing: -.3px;
    line-height: 25px;
    margin: -34px auto 50px;
    text-align: center;

    cite {
      font-weight: normal;
      margin-top: 26px;
    }
  }
}

.sbs-40-years {
  display: block;
  height: 64px;
  margin: 0 auto;
  width: 150px;
}

.sbs-go-to-top {
  background-color: $background-color;
  border-radius: 50px;
  bottom: 50px;
  color: $text-color;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  left: 50%;
  line-height: 50px;
  position: absolute;
  text-align: center;
  transform: translateX(-50%);
  width: 200px;
  text-decoration: none;

  &:hover {
    background-color: $background-color-hover;
  }
}

@include min-screen(769px) {
  .sbs-thanks {
    blockquote {
      font-size: 49px;
      letter-spacing: -.3px;
      line-height: 50px;
      margin: 130px auto 50px;
      max-width: 880px;

      cite {
        margin-top: 26px;
      }
    }
  }

  .sbs-40-years {
    margin-top: 25px;
  }
}
