@import '../../../node_modules/sass-mediaqueries/media-queries';
$text-color: #fff;

:host {
  bottom: 23px;
  cursor: pointer;
  position: absolute;
  right: 20px;
  width: 36px;
  z-index: 20;

  &:hover,
  &.playing {
    .sound-wave {
      @for $i from 1 through 12 {
        path {
          &:nth-child(#{$i}) {
            animation: pulse 1s infinite;
            animation-delay: $i * .15s;
          }
        }
      }
    }
  }

  @include max-screen(768px) {
    display: none;
  }
}

.sound-wave {

  path {
    fill: $text-color;
    transform: scaleY(.2);
    transform-origin: 50% 50%;
    transition: transform .2s ease-out;
  }
}

@keyframes pulse {
  0% {
    transform: scaleY(1);
    transform-origin: 50% 50%;
  }

  50% {
    transform: scaleY(.7);
    transform-origin: 50% 50%;
  }

  100% {
    transform: scaleY(1);
    transform-origin: 50% 50%;
  }
}
