<svg class="sound-wave" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 594.56 403.2" (click)="playPause()">
  <path d="M9.6,214.4A9.84,9.84,0,0,1,0,204.8v-6.4a9.84,9.84,0,0,1,9.6-9.6,9.84,9.84,0,0,1,9.6,9.6v6.4A9.84,9.84,0,0,1,9.6,214.4Z"/>
  <path d="M48,211.2a13.42,13.42,0,0,1-7-2.56,9.62,9.62,0,0,1-2.56-7,13.42,13.42,0,0,1,2.56-7c3.84-3.84,10.24-3.84,13.44,0a9.62,9.62,0,0,1,2.56,7,13.42,13.42,0,0,1-2.56,7A9.78,9.78,0,0,1,48,211.2Z"/>
  <path d="M86.4,307.2a9.84,9.84,0,0,1-9.6-9.6v-192a9.6,9.6,0,1,1,19.2,0v192A9.84,9.84,0,0,1,86.4,307.2Z"/>
  <path d="M163.2,371.2a9.84,9.84,0,0,1-9.6-9.6V41.6a9.6,9.6,0,0,1,19.2,0v320A9.84,9.84,0,0,1,163.2,371.2Z"/>
  <path d="M124.8,403.2a9.84,9.84,0,0,1-9.6-9.6V9.6a9.6,9.6,0,0,1,19.2,0v384A9.84,9.84,0,0,1,124.8,403.2Z"/>
  <path d="M201.6,320a9.84,9.84,0,0,1-9.6-9.6V92.8a9.6,9.6,0,1,1,19.2,0V310.4A9.84,9.84,0,0,1,201.6,320Z"/>
  <path d="M240,272a9.84,9.84,0,0,1-9.6-9.6V140.8a9.6,9.6,0,0,1,19.2,0V262.4A9.84,9.84,0,0,1,240,272Z"/>
  <path d="M278.4,240a9.84,9.84,0,0,1-9.6-9.6V172.8a9.6,9.6,0,1,1,19.2,0v57.6A9.84,9.84,0,0,1,278.4,240Z"/>
  <path d="M316.8,256a9.84,9.84,0,0,1-9.6-9.6V156.8a9.6,9.6,0,0,1,19.2,0v89.6A9.84,9.84,0,0,1,316.8,256Z"/>
  <path d="M355.2,230.4a9.84,9.84,0,0,1-9.6-9.6V182.4a9.6,9.6,0,0,1,19.2,0v38.4A9.84,9.84,0,0,1,355.2,230.4Z"/>
  <path d="M393.6,220.8a9.84,9.84,0,0,1-9.6-9.6V192a9.6,9.6,0,1,1,19.2,0v19.2A9.84,9.84,0,0,1,393.6,220.8Z"/>
  <path d="M432,211.2a13.42,13.42,0,0,1-7-2.56,14,14,0,0,1-1.92-3.2,8.12,8.12,0,0,1-.64-3.84v-1.92a2.35,2.35,0,0,1,.64-1.92c0-.64.64-1.28,0.64-1.92,0.64-.64.64-1.28,1.28-1.28l1.28-1.28a2.35,2.35,0,0,1,1.92-.64c0.64,0,1.28-.64,1.92-0.64h3.84a2.35,2.35,0,0,1,1.92.64c0.64,0,1.28.64,1.92,0.64,0.64,0.64,1.28.64,1.28,1.28l1.28,1.28c0,0.64.64,1.28,0.64,1.92s0.64,1.28.64,1.92v1.92a8.12,8.12,0,0,1-.64,3.84,14,14,0,0,1-1.92,3.2,14,14,0,0,1-3.2,1.92A8.12,8.12,0,0,1,432,211.2Z"/>
  <path d="M470.4,214.4a9.84,9.84,0,0,1-9.6-9.6v-6.4a9.6,9.6,0,1,1,19.2,0v6.4A9.84,9.84,0,0,1,470.4,214.4Z"/>
  <path d="M547.2,214.4a9.84,9.84,0,0,1-9.6-9.6v-6.4a9.6,9.6,0,1,1,19.2,0v6.4A9.84,9.84,0,0,1,547.2,214.4Z"/>
  <path d="M508.8,211.2a13.42,13.42,0,0,1-7-2.56,9.62,9.62,0,0,1-2.56-7v-1.92a2.35,2.35,0,0,1,.64-1.92c0-.64.64-1.28,0.64-1.92,0.64-.64.64-1.28,1.28-1.28a9.51,9.51,0,0,1,9-2.56,2.35,2.35,0,0,1,1.92.64c0.64,0,1.28.64,1.92,0.64,0.64,0.64,1.28.64,1.28,1.28a9.62,9.62,0,0,1,2.56,7,13.42,13.42,0,0,1-2.56,7,14,14,0,0,1-3.2,1.92A8.12,8.12,0,0,1,508.8,211.2Z"/>
  <path d="M585.6,211.2a13.42,13.42,0,0,1-7-2.56,14,14,0,0,1-1.92-3.2,8.12,8.12,0,0,1-.64-3.84,13.42,13.42,0,0,1,2.56-7c3.84-3.84,10.24-3.84,13.44,0a9.62,9.62,0,0,1,2.56,7,8.12,8.12,0,0,1-.64,3.84,14,14,0,0,1-1.92,3.2A9.78,9.78,0,0,1,585.6,211.2Z"/>
</svg>
