@import '../../../node_modules/sass-mediaqueries/media-queries';
$text-color: #fff;
$gray: rgba(34, 34, 34, .9);

:host {
  position: relative;
}

.player {
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 0;
}

.player-spectrum {
  filter: url('../#goo-no-comp');
  height: 90%;
  position: relative;
  transform: translateZ(0);
  white-space: nowrap;
  z-index: 2;
  min-height: 100%;
}

.player-spectrum-floor {
  bottom: 0;
  height: 10%;
  position: absolute;
  width: 100%;
}

.player-spectrum-bars {
  backface-visibility: hidden;
  bottom: 0;
  font-size: 0;
  position: absolute;
  width: 100%;
  @include max-screen(768px) {
    padding-top: 200px;
  }
}

.player-spectrum-bar {
  align-self: flex-end;
  display: inline-block;
  flex: 1 1 auto;
  height: 80px;
  transform-origin: 50% 100%;
  width: 6.25%;
}

.sbs-story-audio-wrapper-bottom {
  bottom: 0;
  height: 70px;
  position: absolute;
  width: 100%;
}
