<div class="player" [style.background-color]="darkerColor">
  <div class="player-spectrum">
    <div class="player-spectrum-bars">
      <div class="player-spectrum-bar" *ngFor="let bar of arr" [style.background-color]="colour"></div>
    </div>
    <div class="player-spectrum-floor" [style.background-color]="colour"></div>
  </div>
</div>

<div id="progressBar" [style.width]="progressBarWidth"></div>

<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="800">
  <defs>
    <filter id="goo-no-comp">
      <feGaussianBlur in="SourceGraphic" stdDeviation="40" result="blur" />
      <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 80 -15" result="goo" />
    </filter>
  </defs>
</svg>

<audio autoplay></audio>

<div class="sbs-story-audio-wrapper-bottom" [style.background-color]="colour"></div>
