@import '../../../node_modules/sass-mediaqueries/media-queries';
$vu: 25px;
$u: 100% / 12;
$text-color: #fff;
$black: #000;

:host {
  color: $text-color;


  &.show-play {
    .play-video,
    .background-dark,
    .sbs-story-media-wrapper img,
    .sbs-story-content {
      opacity: 0 !important;
    }

    .stop-video,
    .sbs-media-controller-wrapper {
      opacity: 1 !important;
    }

    .stop-video {
      pointer-events: initial;
    }
  }
}

.sbs-story-wrapper {
  overflow-x: hidden;
}

.sbs-story-media-wrapper {
  bottom: 0;
  display: none;
  left: -2px;
  opacity: 0;
  right: 0;
  top: -1px;
  position: absolute;
  z-index: 0;
}

.sbs-story-content {
  opacity: 0;
}

:host-context(.opened) {
  .sbs-story-media-wrapper {
    opacity: 1;
    display: block;
  }

  .sbs-story-content {
    opacity: 1;
  }
}

:host-context(.switch) {
  .sbs-story-content,
  .sbs-story-media-wrapper {
    opacity: 0;
  }

  .sbs-story-content {
    transition: transform ease-out .5s, opacity .5s;
  }
}

.cover {
  display: block;
  height: auto;
  min-width: 100%;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  z-index: -1000;
}

.sbs-story-title {
  font-size: 39px;
  letter-spacing: -.2px;
  line-height: 40px;
  margin-bottom: 24px;
  margin-top: 47px;
  max-width: 800px;
  position: relative;
  clear: both;
}

.sbs-story-content-text {
  clear: left;
  font-size: 14px;
  letter-spacing: -.2px;
  line-height: 20px;
  max-width: 622px;
  padding-bottom: 60px;
}

.sbs-story-content-top {
  font-size: 11px;
  letter-spacing: 1.4px;
  padding-top: 76px;
  text-transform: uppercase;

  > div {
    float: left;
    position: relative;
    width: 50%;

    &::before {
      background-color: $text-color;
      content: '';
      height: 2px;
      left: 0;
      position: absolute;
      top: -10px;
      width: 25px;
    }
  }
}

@include max-screen(768px) {
  .sbs-story-wrapper {
    overflow-x: hidden;
    position: relative;
  }
  .sbs-story-content-chapter {
    background-color: $text-color;
    color: $black;
    left: 0;
    padding: 29px 25px;
    position: fixed !important;
    top: 0;
    width: 100% !important;
    z-index: 40;
  }

  .sbs-story-content {
    min-height: calc(100vh - 70px);
    padding-bottom: 40px;
    padding-left: 27px;
    padding-right: 27px;
    position: relative;
  }

  .sbs-story-title {
    margin-left: -3px;
    font-size: 22px;
    margin-top: -40px;
  }

  .sbs-story-type-audio {
    .sbs-story-media-wrapper {
      position: fixed;
      width: 100%;
    }

    .sbs-story-content {
      background-color: transparent !important;
      max-height: calc(100% - 140px);
      overflow: auto;
      position: absolute;
    }
  }

  .background-dark {
    opacity: 0;
  }

  .sbs-story-content-year, .sbs-story-content-category {
    top: -30px;
  }

  .sbs-story-wrapper {
    min-height: 100%;
  }

  .sbs-story-media-wrapper {
    left: 0;
    top: 0;
  }
}

.mobile-cover {
  width: 100%;
}

@include min-screen(769px) {
  :host {
    &.sbs-story-video {
      .background-dark {
        opacity: 1;
      }
    }
  }
  .sbs-story-media-wrapper {
    overflow: hidden;
    transform: scale(.95);
    transition: transform ease-out .5s, opacity .5s .2s;
  }

  .sbs-story-content {
    //background-color: transparent !important;
    height: 100%;
    overflow: auto;
    padding: 50px;
    position: absolute;
    transform: scale(.95);
    transition: transform ease-out .3s, opacity .5s;
    width: 100%;
    z-index: 2;
  }

  .sbs-story-content-top {
    padding-top: 140px;

    > div {
      margin-bottom: 65px;
      max-width: 30%;
      width: 240px;

      &::before {
        top: -16px;
      }
    }
  }

  .cover {
    left: 50%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  .sbs-story-title {
    font-size: 64px;
    letter-spacing: -1px;
    line-height: 74px;
    margin-bottom: 38px;
    margin-top: 71px;
  }

  :host-context(.opened) {
    .sbs-story-media-wrapper {
      transform: scale(1);
      transition: transform ease-out 1s, opacity 1s;
    }

    .sbs-story-content {
      transform: scale(1);
      transition: transform ease-out .5s .5s, opacity .5s .5s;
    }
  }

  :host-context(.switch) {
    .sbs-story-content,
    .sbs-story-media-wrapper {
      transform: scale(.95);
    }
  }
}

.background-dark {
  background-color: rgba(0, 0, 0, 0.3);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
  opacity: 0;

  @include max-screen(768px) {
    display: none;
  }
}

.stop-video,
.play-video{
  font-size: 12px;
  text-transform: uppercase;
  padding: 0 20px;
  display: inline-block;
  background: rgba(34, 34, 34, 0.9);
  border-radius: 50px;
  height: 44px;
  line-height: 45px;
  transition: opacity .5s;
  cursor: pointer;

  @include max-screen(768px) {
    display: none;
  }
}

.stop-video {
  opacity: 0;
  position: absolute;
  bottom: 20px;
  left: 25px;
  z-index: 20;
  pointer-events: none;
}

.sbs-media-controller-wrapper {
  opacity: 0;
  transition: opacity .5s;
}

@media only screen and (min-width: 1000px) and (max-height: 600px) {
  .sbs-story-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    vertical-align: top;
    justify-content: space-between;
    padding: 110px 50px 50px 50px;

    .sbs-story-content-top,
    .sbs-story-title {
      padding: 0 !important;
      margin: 0 !important;
    }

    .sbs-story-content-text {
     padding-bottom: 30px;
    }

    .play-video {
      width: 120px;
      text-align: center;
    }
  }
}