<div class="sbs-story-wrapper" [class]="'sbs-story-wrapper sbs-story-type-' + story.type">
  <div class="sbs-story-media-wrapper" [style.background-color]="colour">
    <sbs-video-player class="cover" [videoId]="story.video" [placeholder]="'video-placeholder-story-'+story.id" *ngIf="desktop && story.type == 'video'"></sbs-video-player>
    <sbs-audio-player [colour]="colour" [src]="story.source"  *ngIf="story.type == 'audio'"></sbs-audio-player>
    <img class="cover" src="{{story.url}}" alt="{{story.title}}" *ngIf="story.type == 'image' && desktop || story.type == 'video' && desktop">
  </div>
  <div class="background-dark"></div>
  <div class="sbs-story-content" >
    <div class="sbs-story-content-top">
      <div class="sbs-story-content-chapter">The {{ title }} of SBS</div>
      <div class="sbs-story-content-category" *ngIf="story.category">{{ story.category }}</div>
      <div class="sbs-story-content-year"  *ngIf="story.year">{{ story.year }}</div>
    </div>
    <h3 class="sbs-story-title" *ngIf="story.title">{{story.title}}</h3>
    <sbs-video-player [videoId]="story.video" class="video-mobile" [placeholder]="'video-placeholder-story-'+story.id" *ngIf="!desktop && story.type == 'video'"></sbs-video-player>
    <img class="mobile-cover" src="{{story.url}}" alt="{{story.title}}" *ngIf="story.type == 'image' && !desktop">
    <div class="sbs-story-content-text">
      {{story.content}}
    </div>
    <div class="play-video" (click)="playVideo()">Play video</div>
  </div>
  <div class="stop-video" (click)="stopVideo()">Stop video</div>
  <div class="sbs-media-controller-wrapper">
    <sbs-media-controller *ngIf="story.type == 'audio' || story.type == 'video'"></sbs-media-controller>
    <sbs-volume *ngIf="story.type == 'audio' || story.type == 'video'"></sbs-volume>
  </div>
</div>
