<sbs-story-detail [story]="story" [colour]="chapter.colour" [title]="chapter.title"
                  class="sbs-story-{{story.type}}" *ngIf="story"></sbs-story-detail>


<div class="sbs-chapters-controller" *ngIf="story">
  <div class="sbs-prev-chapter" (click)="prevChapter()">
    <div class="arrow-up"></div>
    <div class="chapter-num chapter-num-1">{{storyNum}}</div>
    <div class="old">{{storyNumOld}}</div>
  </div>
  <div class="sbs-next-chapter" (click)="nextChapter()">
    <div class="chapter-num">0{{stories.length}}</div>
    <div class="arrow-down"></div>
  </div>
</div>
