@import '../../../node_modules/sass-mediaqueries/media-queries';
$text-color: #fff;

.sbs-chapters-controller {
  display: none;
}

@include min-screen(769px) {
  .sbs-chapters-controller {
    color: $text-color;
    cursor: pointer;
    display: block;
    position: fixed;
    right: 0;
    text-align: center;
    top: 50%;
    transform: translate3d(100%, -50%, 0);
    transition: transform ease-out .3s;
    width: 70px;
    z-index: 30;

    &::after {
      background-color: $text-color;
      content: '';
      height: 1px;
      left: 25px;
      position: absolute;
      top: 50%;
      width: 21px;
    }
  }

  .chapter-num {
    font-size: 14px;
    font-weight: 500;
    height: 50px;
    letter-spacing: .6px;
    line-height: 53px;
  }

  .arrow-up,
  .arrow-down {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    height: 0;
    margin: 10px auto;
    transition: transform cubic-bezier(0, 0, 0, 1) .8s;
    width: 0;
  }

  .sbs-next-chapter:hover .arrow-down {
    transform: translateY(-5px);
  }

  .sbs-prev-chapter:hover .arrow-up {
    transform: translateY(5px);
  }

  .arrow-up {
    border-bottom: 5px solid $text-color;
  }

  .arrow-down {
    border-top: 5px solid $text-color;
  }

  .old {
    font-size: 14px;
    font-weight: 500;
    height: 50px;
    letter-spacing: .6px;
    line-height: 53px;
    opacity: 0;
    position: absolute;
    top: 25px;
    transition: opacity cubic-bezier(0, 0, 0, 1) .8s;
    width: 100%;
  }

  .chapter-num-1 {
    transition: opacity cubic-bezier(0, 0, 0, 1) .8s;
  }

  :host-context(.switch) {
    .chapter-num-1 {
      opacity: 0;
      transition: none;
    }

    .old {
      opacity: 1;
      transition: none;
    }
  }

  :host-context(.opened) {
    .sbs-chapters-controller {
      transform: translate3d(0, -50%, 0);
      transition: transform ease-out .5s .5s;
    }
  }
}
