<div class="player-controls">
  <div class="player-buttons">
    <button class="player-button restart-button" (click)="restart()">
      <i class="icon-restart">
        <svg viewBox="0 0 78.52 97.6">
          <path d="M50,0.77A39.31,39.31,0,0,0,10.74,40v4.39h8.77V40A30.49,30.49,0,1,1,50,70.52H41.4l13-13-6.2-6.2L24.66,74.83,48.2,98.36l6.21-6.2L41.53,79.29H50A39.26,39.26,0,1,0,50,.77Z" transform="translate(-10.74 -0.77)"/>
        </svg>
      </i>
    </button>
    <button class="player-button play-pause-button" (click)="playPause()">
      <div class="icon-play"></div>
    </button>
    <button class="player-button full-screen-button" (click)="toggleFullScreen()">
      <i class="icon-fullscreen">
        <div class="angle"></div>
        <div class="angle"></div>
        <div class="angle"></div>
        <div class="angle"></div>
      </i>
    </button>
  </div>
</div>