@import '../../../node_modules/sass-mediaqueries/media-queries';

$text-color: #fff;
$gray: rgba(34, 34, 34, .9);
$height: 16px;
$width: 14px;
$bar-ratio: .4; // percentage of width that is taken up by the middle bar
$color: #fff;
$animation-time: .2s;
$border-width: 2px;

:host {
  &.playing {
    .icon-play { // Pause state
      &::before,
      &::after {
        border-left-width: $height * .5;
        border-width: 0 0 0 ($height - $height * $bar-ratio) / 2;
        height: 100%;
      }
    }
  }

  &.fullscreen {
    .icon-fullscreen {
      transform: scale(1.2);

      &:hover {
        transform: scale(1);
      }
    }
  }
}

.player-controls {
  background: $gray;
  border-radius: 50px;
  bottom: 20px;
  color: $text-color;
  height: 43px;
  line-height: 43px;
  max-width: 65px;
  overflow: hidden;
  position: absolute;
  right: 80px;
  transition: max-width cubic-bezier(.4, 0, .2, 1) .8s;
  z-index: 5;

  &::after {
    content: '...';
    font-family: monospace;
    font-size: 22px;
    letter-spacing: -3px;
    line-height: 10px;
    position: absolute;
    text-align: center;
    top: 12px;
    transition: opacity ease-out .5s, right ease-out .5s;
    width: 100%;
  }

  &.open,
  &:hover {
    max-width: 180px;
    transition: max-width cubic-bezier(0, 0, 0, 1) .8s;

    .player-button {
      opacity: 1;
      transition: opacity ease-out .5s .2s;
    }

    &::after {
      left: 100%;
      opacity: 0;
    }
  }

  @include max-screen(768px) {
    display: none;
  }
}

.player-buttons {
  padding: 2px 12px;
}

.play-pause-button {
  position: relative;
  top: -8px;
}

.player-button {
  background: transparent;
  border: 0;
  color: $text-color;
  cursor: pointer;
  font-size: 18px;
  margin: 0 5px;
  opacity: 0;
  padding: 0 8px;
  transition: opacity ease-out .2s;

  i {
    display: block;
  }

  path {
    fill: $text-color;
  }

  &:active,
  &:focus {
    outline: 0;
  }

  &:hover {
    color: $text-color;
  }
}


.icon-restart {
  position: relative;
  top: 1px;
  transition: transform .5s cubic-bezier(.68, -.55, .27, 1.55);

  &:hover {
    transform: scale(1.2);
  }

  svg {
    width: 14px;
  }
}

.icon-fullscreen {
  height: $height;
  position: relative;
  transition: transform .5s cubic-bezier(.68, -.55, .27, 1.55);
  width: 23px;

  &:hover {
    transform: scale(1.2);
  }

  .angle {
    border: 1px solid $text-color;
    height: 5px;
    position: absolute;
    width: 5px;

    &:nth-child(1) {
      border-width: $border-width 0 0 $border-width;
    }

    &:nth-child(2) {
      border-width: $border-width $border-width 0 0;
      right: 0;
    }

    &:nth-child(3) {
      border-width: 0 $border-width $border-width 0;
      bottom: 0;
      right: 0;
    }

    &:nth-child(4) {
      border-width: 0 0 $border-width $border-width;
      bottom: 0;
    }
  }
}

.icon-play {
  height: $height;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transform-origin: 42px 47px;
  width: $width;

  &::before,
  &::after { // Play state
    border: 0 solid transparent;
    border-left-color: $color;
    border-width: $height * .25 0 $height * .25 $width * .5;
    content: '';
    height: 50%;
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: height $animation-time ease, border-width $animation-time ease;
  }

  &::after {
    height: 0%;
    left: auto;
    right: 0;
  }

  &:hover { // Pause state
    transform: scale(1.2);
    transition: transform .5s cubic-bezier(.68, -.55, .27, 1.55);
  }
}

@include max-screen(768px) {
  .full-screen-button {
    display: none;
  }
}