@import '../../../node_modules/sass-mediaqueries/media-queries';
$text-color: #fff;
$dark-color: #222;
$text-color-active: #ccc;

nav {
  bottom: 0;
  color: $dark-color;
  font-size: 10px;
  font-weight: 500;
  line-height: 48px;
  padding-left: 20px;

  a {
    color: $dark-color;
    font-size: 10px;
    font-weight: 500;
    padding-right: 20px;
    position: relative;
    text-decoration: none;
    vertical-align: middle;

    &::after {
      background-color: $dark-color;
      content: '';
      height: 10px;
      opacity: .5;
      position: absolute;
      right: 10px;
      top: 1px;
      width: 1px;
    }

    &.last {
      &::after {
        content: none;
      }
    }

    &.router-link-active {
      color: $text-color-active;
    }
  }
}

sbs-volume {
  bottom: 10px;
  cursor: pointer;
  display: none;
  position: fixed;
  right: 20px;
  width: 45px;
  z-index: 50;
}

@include max-screen(767px) {
  span {
    display: block;
    margin-top: -22px;
  }
}

@include min-screen(769px) {
  nav {
    color: $text-color;
    position: fixed;
    width: 100%;
    z-index: 40;

    a {
      color: $text-color;

      &::after {
        background-color: $text-color;
      }
    }
  }

  sbs-volume {
    display: block;
  }
}
