<nav>
  <a href="http://www.sbs.com.au/aboutus/" target="_blank">About</a>
  <a href="http://www.sbs.com.au/aboutus/corporate/view/id/113/h/SBS-Privacy-Statement" target="_blank">Privacy</a>
  <a href="http://www.sbs.com.au/aboutus/corporate/view/id/114/h/Terms-and-Conditions" target="_blank">Terms and conditions</a>
  <span>
    Copyright © 2016 <a href="http://www.sbs.com.au" class="last" target="_blank">Special Broadcasting Service</a>
  </span>
</nav>
<sbs-volume></sbs-volume>
