@import '../../../node_modules/sass-mediaqueries/media-queries';
$text-color: #fff;

:host {
  height: 0%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 200;

  &.show-menu {
    height: 100%;

    @for $i from 1 to 10 {
      .sbs-chapter-nav-list {
        &:nth-child(#{$i}) {
          transition: opacity .2s ease-in $i * .05s;
        }
      }
    }
  }

  svg-overlay {
    position: absolute;
  }
}

.sbs-chapter-nav {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  vertical-align: middle;
  width: 100%;
  z-index: 42;

  img {
    display: block;
    transition: width ease-in .2s, transform ease-in .2s;
    width: 100%;
  }

  .relative {
    display: block;
    position: relative;
  }

  a {
    color: $text-color;
    display: block;
    font-size: 20px;
    font-weight: 800;
    line-height: 46px;
    text-decoration: none;

    @include min-screen(769px) {
      font-size: 28px;
      line-height: 56px;
    }
  }

  .sbs-chapter-link-indicator {
    bottom: -1px;
    display: block;
    height: 0;
    opacity: .85;
    position: absolute;
    transition: height cubic-bezier(0, 0, 0, 1) .8s;
    width: 100%;
  }

  &.show {
    .sbs-chapter-nav-list {
      opacity: 1;
    }
  }

}

.sbs-chapter-nav-list {
  margin: 0;
  opacity: 0;
  padding: 5px;
  transition: opacity .2s ease-in;

  img {
    @include min-screen(769px) {
      width: 240px;
    }
  }
}

@include max-screen(768px) {
  .sbs-chapter-nav {
    flex-direction: column;
    height: 80%;
    top: 10%;

    a {
      min-height: 100%;
      height: 80px;
    }

    .relative {
      height: 100%;
      overflow: hidden;
    }

    .sbs-chapter-nav-list {
      transition: opacity 0s;
      flex: 1;
      position: relative;
      width: calc(100% - 25px);
      @for $i from 1 to 10 {
        &:nth-child(#{$i}) {
          transition: opacity .2s ease-in $i * .05s;
        }
      }
    }

    &.show {
      opacity: 0;
    }

    img {
      display: block;
      left: 50%;
      position: absolute;
      top: 50%;
      transition: width ease-in .2s;
      transform: translate(-50%,-50%);
      width: 100%;
    }

    .sbs-chapter-link-title {
      left: 10px;
      position: absolute;
      top: 0px;
      width: 100%;
    }
  }

  :host {
    &.fade-in {
      .show {
        opacity: 1;
      }
    }
  }
}

@include max-screen(1200px) {
  svg-overlay {
    display: block;
  }
}

@include min-screen(769px) {


  .sbs-chapter-nav-list {
    flex: 1;
    overflow: hidden;

    span {
      overflow: hidden;
      transition: transform cubic-bezier(0, 0, 0, 1) .8s;
    }

    img {
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate3d(-50%, -50%, 0);
      width: 120%;
    }

    .relative {
      padding-bottom: 43%;
      transform: scale(1);
    }

    .sbs-chapter-link-title {
      display: block;
      transition: transform cubic-bezier(0, 0, 0, 1) .8s;
    }

    &:hover {
      .sbs-chapter-link-indicator {
        height: 103%;
      }

      .sbs-chapter-link-title {
        transform: translateY(10px);
      }

      .relative {
        transform: scale(1.2);
      }

      .sbs-chapter-link {
        &::before,
        &::after {
          opacity: 1;
          transform: none;
        }
      }
    }
  }

  .sbs-chapter-link {
    overflow: hidden;
    padding-bottom: 40px;
    padding-top: 80px;
    position: relative;

    &::before {
      background-color: $text-color;
      bottom: 25px;
      content: '';
      height: 2px;
      opacity: 0;
      position: absolute;
      transform: translateY(20px);
      transition: transform ease-out .8s, opacity ease-out .8s;
      width: 25px;
    }

    &::after {
      bottom: -25px;
      content: 'EXPLORE';
      font-size: 9px;
      font-weight: normal;
      left: 0;
      letter-spacing: 1px;
      opacity: 0;
      position: absolute;
      transform: translateY(20px);
      transition: transform ease-out .8s, opacity ease-out .8s;
    }
  }
}

.background-old,
.background {
  background-size: cover;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transform: matrix(1.2, 0, 0, 1.2, 0, 0);
  width: 100%;
  z-index: 40;

  &.active {
    opacity: 1;
    transform: matrix(1, 0, 0, 1, 0, 0);
    transition: transform ease-out .8s, opacity ease-out .8s;
  }
}

.background-old {
  transition: transform ease-out .8s, opacity ease-out .8s;

  &.active {
    transition: none;
  }
}

.background-dark {
  //@include min-screen(769px) {
  //  background-color: rgba(0, 0, 0, 0.5);
  //}
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 41;

  &.active {
    opacity: 1;
  }
}
