<svg-overlay [id]="'nav'" [colour]="'rgba(255,197,0,.9)'"></svg-overlay>
<div class="background-old" [style.background-image]="backgroundOld" [class.active]="activeBackgroundOld"></div>
<div class="background" [style.background-image]="background" [class.active]="activeBackground"></div>
<div class="background-dark" [class.active]="activeBackgroundDark"></div>
<ul class="sbs-chapter-nav" [class.show]="fadeIn">
  <li *ngFor="let chapter of navChapters;"
      [class.active]="chapter.id == currentChapterId" class="sbs-chapter-nav-list"
      (mouseenter)="showBackground(chapter.id-2)"
      (mouseleave)="hideBackground()"
  >
    <a class="sbs-chapter-link" attr.href="#{{chapter.title}}" (click)="closeNav($event)">
      <span class="relative">
        <img attr.src="{{chapter.thumbnail}}"/>
        <span class="sbs-chapter-link-indicator" [style.background-color]="chapter.colour"></span>
      </span>
      <span class="sbs-chapter-link-title">
        {{chapter.title}}
      </span>
    </a>
  </li>
</ul>
