<sbs-header></sbs-header>
<div class="sbs-wrapper" *ngIf="isDataAvailable">
  <sbs-chapter-list [chapters]="chapters"></sbs-chapter-list>
  <sbs-overlay>
    <sbs-story-list [chapters]="chaptersDetailList"></sbs-story-list>
    <sbs-menu [chapters]="chapters"></sbs-menu>
  </sbs-overlay>
</div>
<sbs-navbar></sbs-navbar>