@import '../../../node_modules/sass-mediaqueries/media-queries';

$vu: 25px;
$u: 100% / 12;
$text-color: #fff;
$background-dark: rgba(0, 0, 0, .3);

:host {
  color: $text-color;
  cursor: pointer;
  display: block;
  position: relative;

  @include min-screen(769px) {
    opacity: 0;
    transform: translateY(40px);
    transition: opacity ease-out .5s, transform ease-out .5s;

    &.active {
      opacity: 1;
      transform: translateY(0);
    }

    & > div {
      transition: transform ease-out .5s;
    }

    &:hover {
      .sbs-story-type-audio,
      .sbs-story-type-image,
      .sbs-story-type-video {
        transform: scale(1.02);
      }
    }
  }
}

.sbs-story-title {
  clear: left;
  font-size: 32px;
  letter-spacing: -.5px;
  line-height: 36px;
  margin-left: 29px;
  margin-right: 20px;
  top: -4px;
}

.sbs-story-content-description {
  font-size: 14px;
}

img {
  display: block;
  max-width: 100%;
}

.sbs-story-type-text {
  cursor: default;

  .sbs-story-title {
    &::after {
      background-color: $text-color;
      bottom: -22px;
      content: '';
      height: 2px;
      left: 0;
      position: absolute;
      width: 25px;
    }
  }
}

.sbs-story-category {
  bottom: 10px;
  font-size: 10px;
  left: 33px;
  letter-spacing: 1.4px;
  position: absolute;
  text-transform: uppercase;
}

.sbs-story-content {
  transition: opacity .2s ease-in;
}

.sbs-content-text {
  position: relative;
  z-index: 2;
}

.sbs-story-type-audio,
.sbs-story-type-video,
.sbs-story-type-image {
  .sbs-content-text {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: opacity .2s ease-out;
    width: 100%;
  }
}

//@include max-screen(768px) {
@include max-screen(1200px) {
  .sbs-story-title {
    font-size: 17px;
    letter-spacing: -.5px;
    line-height: 20px;
    margin-left: 21px;
    margin-top: 0;
    padding-bottom: 18px;
    padding-top: 18px;
    width: 60%;
  }

  .background-dark {
    opacity: 1;
  }

  .sbs-story-content {
    //margin: 10px 50px;
    position: relative;
    @include max-screen(768px) {
      margin: 10px 25px;
    }
  }

  .sbs-story-content-description {
    font-size: 12px;
    margin-top: -30px;
    padding: 22px;
  }

  .sbs-story-type-text {
    .sbs-story-title {
      padding-bottom: 40px;
      padding-top: 30px;
      position: relative;

      &::after {
        bottom: 7px;
        left: 2px;
      }
    }

    .sbs-story-content {
      margin-bottom: 50px;
    }
  }

  .sbs-story-category {
    font-size: 10px;
    left: 23px;
    letter-spacing: 1.4px;
    top: 240px;
  }

  .sbs-story-type-audio,
  .sbs-story-type-video,
  .sbs-story-type-image {
    max-height: 300px;
    overflow: hidden;
  }
}

.background-dark {
  top: 0;
  left: 0;
  height: 100%;
  position: absolute;
  width: 100%;
  transition: opacity .3s ease-out;
}

@include min-screen(769px) {
//@include min-screen(1200px) {
  :host {
    width: 3 * $u;
    z-index: 40;

    &.even {
      clear: both;
      float: left;
      margin-bottom: 8 * $vu;
      margin-left: $u;

      &:nth-child(3n+1) {
        margin-bottom: 6 * $vu;
        margin-left: 2 * $u;
      }
    }

    &.odd {
      float: right;
      margin-bottom: -2 * $vu;
      margin-right: $u;
      margin-top: 7 * $vu;

      &:nth-child(3n+1) {
        margin-right: 2 * $u;
      }
    }

    &:nth-child(3n+3) {
      margin-bottom: 6 * $vu;
    }

    &:nth-child(3n+2) {
      margin-bottom: -3 * $vu;
    }

    &.sbs-story-image {
      width: 4 * $u;
    }

    &.sbs-story-text {
      width: 4 * $u;

      .sbs-story-content {
        padding: 50px;
      }
    }

    &:hover {
      .sbs-content-text,
      .background-dark {
        opacity: 1 !important;
      }
      .background-dark {
        background-color: $background-dark;
      }
    }
  }

  .sbs-story-type-text {
    .sbs-story-title {
      font-size: 30px;
      letter-spacing: .4px;
      line-height: 36px;
      margin-bottom: 53px;
      margin-left: 0;
      margin-top: 0;
      position: relative;
      top: 5px;

      &::after {
        bottom: -22px;
        width: 25px;
      }
    }
  }

  .sbs-story-category {

    &::after {
      background-color: $text-color;
      content: '';
      height: 2px;
      left: 0;
      position: absolute;
      top: -20px;
      width: 25px;
    }
  }

  .background-dark {
    opacity: 0;
  }

  .sbs-story-type-audio,
  .sbs-story-type-video,
  .sbs-story-type-image {
    .sbs-content-text {
      opacity: 0;
    }
  }
}

:host-context(.fullscreen) {
  .sbs-story-content {
    opacity: 0;
  }
}