<div class="sbs-story-wrapper" (click)="showDetail()" [class]="'sbs-story-wrapper sbs-story-type-' + story.type" >
  <div class="sbs-story-content" [style.background-color]="colour">
    <img class="cover" src="{{story.url}}" alt="{{story.title}}" *ngIf="story.type != 'text'">
    <div class="background-dark" *ngIf="story.type != 'text'"></div>
    <div class="sbs-content-text">
      <h3 class="sbs-story-title" *ngIf="story.title">{{story.title}}</h3>
      <h4 class="sbs-story-category" *ngIf="story.type === 'image'">{{story.category}}</h4>
      <div class="sbs-story-content-description" *ngIf="story.type == 'text'">
        {{story.description}}
      </div>
    </div>
  </div>
</div>
