@import '../node_modules/sass-mediaqueries/media-queries';

@font-face {
  font-family: 'maisonneue';
  font-stretch: normal;
  font-style: normal;
  font-weight: 800;
  src: url('./assets/fonts/maison-neue/maisonneue-bold-webfont.ttf');
}

@font-face {
  font-family: 'maisonneue';
  font-stretch: normal;
  font-style: normal;
  font-weight: 500;
  src: url('./assets/fonts/maison-neue/maisonneue-book-webfont.ttf');
}

@font-face {
  font-family: 'museo-slab';
  font-stretch: normal;
  font-style: normal;
  font-weight: 500;
  src: url('./assets/fonts/museo-slab/museo-slab-500.otf');
}

$blockquote-color: #7f7b7d;
$cite-color: #8d898a;
$loader-color: #d4cdd0;
$text-color: #fff;
$text-color-2: #8d898a;

// Reset
html,
body,
div {
  border: 0;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}


body {
  height: 100%;
  overflow:auto;
}

.sbs-wrapper {
  overflow: auto;
}

// Box-sizing border-box
* {
  box-sizing: border-box;
}

// Set up a default font and some padding to provide breathing room
body {
  font-family: maisonneue, 'Helvetica Neue', sans-serif;
  font-size: 16px;
}

p {
  font-weight: 400;
  letter-spacing: .01em;
  line-height: 20px;
  margin-bottom: 1em;
  margin-top: 1em;
}

ul {
  margin: 10px 0 0;
  padding: 0 0 0 20px;
}

li {
  font-weight: 400;
  margin-top: 4px;
}


blockquote {
  color: $blockquote-color;
  display: flex;
  flex-direction: column;
  font-size: 30px;
  font-weight: 800;
  justify-content: center;
  margin-top: -48px;
}

cite {
  color: $cite-color;
  display: block;
  font-size: 11px;
  font-style: normal;
  font-weight: normal;
  margin-top: 14px;
  text-align: center;
  width: 100%;
}

.freeze {
  overflow: hidden;
  @include min-screen(761px) {
    /deep/ {
      sbs-header,
      sbs-navbar,
      .sbs-chapter-wrapper .sbs-story-content,
      .sbs-chapter-quick-nav,
      .sbs-center-title div {
        opacity: .2;
      }

      .sbs-chapter-subtitle-rect,
      .sbs-subtitle {
        opacity: 0;
      }
    }
  }
}

.sbs-loader {
  background-color: $loader-color;
  display: flex;
  height: 100%;
  justify-content: center;
  vertical-align: middle;

  .sbs-logo {
    left: 18px;
    position: absolute;
    top: 15px;
    width: 60px;
  }

  path {
    fill: $text-color;
  }
}

.sbs-tip-icons {
  display: block;
  margin: 0 auto 16px;
  opacity: .5;
}

.sbs-tip {
  bottom: 32px;
  height: 110px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: 300px;

  p {
    color: $text-color-2;
    font-size: 9px;
    font-weight: normal;
    letter-spacing: .3px;
  }
}

.css-carousel {
  text-align: center;
}

@keyframes cycle {
  0%  {
    opacity: 1;
    transform: translateY(0);
    z-index: 0;
  }

  4%  {
    opacity: 1;
    transform: translateY(0);
    z-index: 0;
  }

  46% {
    opacity: 1;
    transform: translateY(0);
    z-index: 0;
  }

  50% {
    opacity: 0;
    transform: translateY(33px);
    z-index: 0;
  }

  51% {
    opacity: 0;
    transform: translateY(33px);
    z-index: -1;
  }

  96% {
    opacity: 0;
    transform: translateY(-33px);
    z-index: 0;
  }

  100% {
    opacity: 1;
    transform: translateY(0);
    z-index: 0;
  }
}

@keyframes cycletwo {
  0%  {
    opacity: 0;
    transform: translateY(-33px);
    z-index: -1;
  }

  45% {
    opacity: 0;
    transform: translateY(-33px);
    z-index: -1;
  }

  46% {
    opacity: 0;
    transform: translateY(-33px);
    z-index: 0;
  }

  50% {
    opacity: 1;
    transform: translateY(0);
  }

  96% {
    opacity: 1;
    transform: translateY(0);
  }

  99% {
    opacity: 0;
    transform: translateY(33px);
    z-index: 0;
  }

  100% {
    opacity: 0;
    transform: translateY(33px);
    z-index: -1;
  }

}

@include max-screen(768px) {
  .sbs-wrapper {
    padding-top: 70px;
  }

  .css-carousel {
    &:first-child {
      display: none;
    }
  }

  .tip-icons {
    max-width: 50px;
  }
}

@include min-screen(769px) {

  .sbs-loader {
    .sbs-tip p {
      font-size: 11px;
    }
  }

  blockquote {
    font-size: 49px;
    margin-top: 70px;
  }

  cite {
    font-size: 14px;
    margin-top: 38px;
  }

  .css-carousel {
    bottom: 0;
    position: absolute;
    width: 300px;

    &:first-child {
      animation: cycle 10s ease-out infinite;
    }

    &:last-child {
      animation: cycletwo 10s ease-out infinite;
    }
  }
}
