@import '../../../node_modules/sass-mediaqueries/media-queries';
$text-color: #fff;
$replacement-color: #ccc;

:host {
  height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;

  @include max-screen(1200px) {
    display: none;
  }
}

.sbs-svg-mask-wrapper {
  bottom: 0;
  display: block;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;

  &.absolute {
    position: absolute;
    z-index: 4;
  }
}

.sbs-chapter-overlay {
  opacity: .9;
  will-change: transform;
}

:host-context(.sbs-footer) {
  .sbs-chapter-overlay {
    opacity: 1;
  }
}

.sbs-chapter-title {
  font-size: 100px;
  font-weight: 800;
  transform: translate3d(0, 33px, 0);
}

@include max-screen(1200px) {
  .sbs-chapter-title {
    font-size: 56px;
    transform: translate3d(0, 18px, 0);
  }
}
//
//// scss-lint:disable all
//@supports (overflow: -webkit-marquee) and (justify-content: inherit) {
//  .is-overlay .sbs-chapter-title {
//    fill: $replacement-color !important;
//  }
//}
//// scss-lint:enable all

image {
  transform: translateZ(0);
  will-change: transform;
}

.sbs-subtitle {
  fill: $text-color;
  font-family: 'museo-slab';
  font-size: 22px;
  font-weight: 500;
}

.sbs-chapter-subtitle-rect {
  fill: $text-color;
  transform: translateX(-50%);
}

.sbs-background-video {
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 3;
}
