<svg class="sbs-svg-mask-wrapper">
  <defs>
    <clipPath id="mask-{{maskId}}">
      <polygon wave [id]="maskId"></polygon>
    </clipPath>
  </defs>
  <pattern id="mask-title-{{chapter.id}}" *ngIf="isOverlay" patternUnits="userSpaceOnUse" width="100%" height="100%">
    <image attr.xlink:href="{{chapter.background}}" width="100%" height="100%" preserveAspectRatio="xMinYMin slice"></image>
  </pattern>

  <g attr.clip-path="url(#mask-{{maskId}})">
    <image attr.xlink:href="{{chapter.background}}" width="100%" height="100%" preserveAspectRatio="xMinYMin slice"/>
    <rect *ngIf="isOverlay" width="100%" height="100%" [style.fill]="chapter.colour" class="sbs-chapter-overlay"></rect>
  </g>
</svg>
<sbs-video-player class="sbs-background-video cover" [videoId]="chapter.video"
                  [placeholder]="'video-placeholder-'+chapter.id" *ngIf="!isOverlay &&  chapter.video && desktop"></sbs-video-player>

<!--<div [class.is-overlay]="isOverlay"></div> used to add class to text for safari - fix ie by wrapping sbg by that div-->
<svg class="sbs-svg-mask-wrapper absolute">
  <g attr.clip-path="url(#mask-{{maskId}})" [style.display]="display">
    <text class="sbs-chapter-title"
          [style.fill]="backgroundTextStyle"
          attr.transform="{{titlePosition}}"
          text-anchor="middle" x="50%" y="50%">{{chapter.title}}</text>
    <rect *ngIf="!isOverlay" width="25px" height="2px" x="50%" y="62%" transform="translate(-12.5,0)" class="sbs-chapter-subtitle-rect"></rect>
    <text *ngIf="!isOverlay" class="sbs-subtitle" text-anchor="middle" x="50%" y="70%">
      <tspan x="50%">{{subtitle_line1}}</tspan>
      <tspan x="50%" dy="25px">{{subtitle_line2}}</tspan>
    </text>
  </g>
</svg>
