@import '../../../node_modules/sass-mediaqueries/media-queries';
$vu: 25px;
$u: 100% / 12;
$text-color: #fff;
$dark-color: #212220;
$white: #fff;

:host {
  height: 0%;
  left: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;

  &.active {
    min-height: 100%;

    .sbs-story-media-wrapper {
      display: block;
    }
  }

  &.show-menu {
    .sbs-inner-overlay {
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;
    }

    .sbs-close {
      left: auto;
      padding-right: 80px;
      right: 5px;
      top: 0;

      .sbs-close-icon-wrapper {
        right: 15px;
      }
    }


    .sbs-close-icon {
      background-color: $white !important;
    }

  }

  &.show-list {
    .sbs-inner-overlay {
      transition: top ease-out .5s .5s, bottom ease-out .5s .5s, right ease-out .5s .5s, left ease-out .5s .5s, opacity ease-out .5s;
    }
  }

  .opened {
    .sbs-close-icon-wrapper {
      transition: opacity ease-out .5s 1s;
      right: 15px;
      opacity: 1;
    }

  }
}

.sbs-close-overlay {
  height: 100%;
  position: absolute;
  width: 100%;
}

.sbs-inner-overlay {
  bottom: 0;
  left: 0;
  overflow: auto;
  position: absolute;
  right: 0;
  top: 0;
}

.sbs-close {
  color: transparent;
  cursor: pointer;
  font-size: 10px;
  font-weight: bold;
  height: 70px;
  left: 0;
  letter-spacing: 1.4px;
  line-height: 20px;
  padding-left: 26px;
  position: fixed;
  text-transform: uppercase;
  top: 0;
  width: 100%;
  z-index: 201;
}

.sbs-close-icon-wrapper {
  opacity: 0;
  height: 20px;
  position: absolute;
  top: 1px;
  transform-origin: center;
  width: 20px;
}

.sbs-close-icon {
  background-color: $dark-color;
  height: 4px;
  position: absolute;
  top: 32px;
  transform: rotate(45deg);
  width: 19px;


  &:first-child {
    transform: rotate(-45deg);
  }
}

[aria-hidden='true'] { display: none; }
[aria-hidden='false'] { display: block; }

@include max-screen(768px) {
  .sbs-close-icon {
    right: 23px;
  }

  .sbs-inner-overlay {
    padding-top: 70px;
  }

  :host {
    display: none;
    transition: background-color .2s ease-in;

    &.show-list,
    &.show-menu {
      display: block;
    }

    &.show-menu {
      .sbs-close {
        .sbs-close-icon-wrapper {
          right: -11px;
        }
      }

      .sbs-chapter-overlay {
        fill: rgba(255, 197, 0, 1);
        opacity: 1;
      }

    }

    .sbs-close-icon-wrapper {
      left: auto;
      right: -6px;
      top: 0;
    }
  }
}

@include min-screen(769px) {
  :host {
    transition: background-color .2s ease-in;

    &.show-menu {
      .sbs-close {
        top: 27px;
      }

      .sbs-inner-overlay {
        opacity: 1;
      }
    }

    &.show-list {
      .sbs-close-icon-wrapper {
        left: 0;
      }
    }
  }

  .sbs-inner-overlay {
    bottom: 100px;
    left: 100px;
    opacity: 0;
    right: 100px;
    top: 100px;
  }

  .opened {
    bottom: 70px;
    left: 67px;
    opacity: 1;
    right: 67px;
    top: 70px;

    .sbs-close {
      transform: scale(1);
      transition: transform ease-out .5s .5s, opacity .5s .5s;
      opacity: 1;

      &:hover {
        transition: transform ease-out 1s;
      }
    }


    &.sbs-inner-overlay {
      transition: top ease-out .5s, right ease-out .5s, left ease-out .5s, bottom ease-out .5s;
    }
  }

  :host {
    &.opened {
      &.switch {
        .sbs-close {
          opacity: 0;
          transform: scale(.95);
          transition: transform ease-out .5s, opacity .5s;
        }
      }
    }
  }

  .sbs-close {
    color: $text-color;
    height: 30px;
    left: 50px;
    opacity: 0;
    position: absolute;
    top: 44px;
    transform: scale(.95);
    transition: transform ease-out .3s .5s, opacity .5s .5s;
    width: 80px;

    .sbs-close-icon {
      background-color: $text-color;
      left: 0;
      top: 8px;
    }

    &:hover {
      .sbs-close-icon-wrapper {
        transform: rotate(-90deg);
      }
    }
  }

  .sbs-close-icon-wrapper {
    top: -1px;
  }


  .fullscreen {
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;

    .sbs-inner-overlay {
      transition: top ease-out .5s, right ease-out .5s, left ease-out .5s, bottom ease-out .5s;
    }
  }
}

:host-context(.sbs-footer) {
  .sbs-chapter-overlay {
    opacity: 1 !important;
  }
}