<div class="sbs-close-overlay" (click)="closeOverlay()"></div>


<div class="sbs-inner-overlay" [class.fullscreen]="fullscreen" [class.opened]="opened">
  <div class="sbs-close" (click)="closeOverlay()">
    <div class="sbs-close-icon-wrapper">
      <div class="sbs-close-icon"></div>
      <div class="sbs-close-icon"></div>
    </div>
    Close
  </div>
  <ng-content></ng-content>
</div>