@import '../../../node_modules/sass-mediaqueries/media-queries';

:host {
  opacity: 0;
  transition: opacity .5s ease-out;

  &.cover {
    .embed-responsive {
      background-size: cover;
      height: auto;
      min-height: 100%;
      min-width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      transition: 1s opacity, left ease-out .5s .5s;
      width: auto;
      z-index: -100;

      /deep/ {
        iframe {
          position: absolute;
        }
      }
    }
  }
}


@include min-screen(769px) {
  :host.cover .embed-responsive {
    left: 50%;
  }

  :host-context(.sbs-inner-overlay) {
    .embed-responsive {
      left: calc(50%) !important;
      top: calc(45%) !important;

    }
  }

  :host-context(.fullscreen) {
    .embed-responsive {
      left: calc(50% + 2px) !important;
    }
  }
}


@include min-screen(1086px) {
  :host.cover .embed-responsive {
    left: 50%;
  }

  :host-context(.sbs-inner-overlay) {
    .embed-responsive {
      left: calc(45%) !important;
      top: calc(50%) !important;
    }
  }

  :host-context(.fullscreen) {
    .embed-responsive {
      left: calc(50% + 2px) !important;
    }
  }
}


.embed-responsive-item {
  width: 100%;
}

:host-context(.sbs-story-type-video) {
  opacity: 1;
}

:host-context(.show-video) {
  opacity: 1;

  &:after {
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    position: absolute;
    width: 100%;
    background-color: rgba(0, 0, 0, .3);
    z-index: 3;
  }
}

@include max-screen(768px) {
  :host {
    &.video-mobile {
      .embed-responsive {
        position:relative;
        padding-bottom:56.25%;
        padding-top:30px;
        height:0;
        overflow:hidden;
        margin-bottom: 20px;
      }
      /deep/ {
        iframe {
          position: absolute;
          top: 0;
          width: 100% !important;
          height: 100% !important;
          left: 0 !important;
          margin-left: 0 !important;
        }
      }
    }
  }
}

@include max-screen(768px) {
  :host {
    &.video-mobile:after {
      top: 0;
      left: 0;
      height: 100%;
      position: absolute;
      width: 100%;
      background-color: rgba(0, 0, 0, .3);
      z-index: 3;
    }
  }
}


@include min-screen(769px) {
  :host {
    &.video-mobile:after {
      content: '';
      top: 0;
      left: 0;
      height: 100%;
      position: absolute;
      width: 100%;
      background-color: rgba(0, 0, 0, .3);
      z-index: 3;
    }
  }
}
